<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Delete product</h3>
<h3>Are you sure?</h3>
<p>
    <a href="/customers">Product list</a>
</p>
<form th:action="@{/product/delete-product}" th:object="${product}" method="post"
      novalidate="novalidate" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${product.name}"></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td th:text="${product.price}"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td th:text="${product.image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete product"></td>
        </tr>
    </table>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>